# Data Science Tools and Ecosystem

## Author
Haoyue Zhu

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- To list popular languages that data scientists use
- To list cmmonly used libraries used by data scientists
- To summarize ways to evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. NumPy
3. PyTorch

|Data Science Tools|
|-------------------|
|Rstudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

1 hour equals to 60 minutes. So to convert *200* *minutes* into *hours*, we devide 200 by 60

In [5]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335